

.article-img {
    width: 300px;
    height: 250px;
}

.inline {
    display: inline-flex;
}

.block{
    display: block;
}

.button-red {
    background-color: rgb(225, 6, 0) !important;
    color: white !important;
  }